body {
  background-color: aliceblue;
  background-image: url("https://bit.ly/3amQGSQ");
  background-size: cover;
  color: white;
}

#flights {
  width: auto;
  max-width: 500px;
  margin: auto;
  border: 1px solid #2b0a69;
  background-color: rgb(175, 175, 230);
  /* opacity: 0.8; */
}

#text {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 5%;
}

.flight {
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  margin:auto;
  align-items: center;
  border: 1px solid #2b0a69;
  box-shadow: 1px 2px 5px 1px #888888;
}

.flight:hover {
  border: 2px solid #ffffff;
}

.flight-green:hover {
  border: 2px solid #ffffff;
}

.flight-green {
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #2b0a69;
  box-shadow: 1px 2px 5px 1px #888888;
  background-color: rgb(68, 221, 127);
}

form {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: auto;
  max-width: 500px;
  margin: auto;
  border: 1px solid #2b0a69;
  border-radius: 25px;
}

h1 {
  margin: auto;
  text-align: center;
  color: white;
}

button {
  border: 1px solid #ccb1ff;
  border-radius: 10px;
  width: 200px;
  margin: auto;
}