body {
  background-color: aliceblue;
}

#flights {
  background-color: rgb(175, 175, 230);
  width: auto;
  max-width: 500px;
  margin: auto;
  border: 1px solid #2b0a69;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 500px;
  margin: auto;
  border: 1px solid #2b0a69;
}

h1 {
  margin: auto;
  text-align: center;
}